<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/flash') %>
<section class="auth-box card">
  <h1>Login</h1>
  <form method="post" action="/auth/login" class="form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Email<input name="email" type="email" required></label>
    <label>Password<input name="password" type="password" required></label>
    <button class="btn full">Login</button>
  </form>
  <p class="muted">No account? <a href="/auth/signup">Sign up</a></p>
</section>
<%- include('partials/footer') %>
